@import "../../utils/mixins.scss";

.charts {
    &__chart-score {
        position: relative;
        background: #fbfbfb;
        @include smallBoxChart;
        padding: 0.5rem;

        @media screen and (max-width: 1280px) {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: 960px) {
            width: 100%;
            height: auto;
        }

        .wrap-container {
            position: relative;
        }

        &__title {
            margin: 1rem 1.25rem 0 1.25rem;
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            color: #20253a;
            @media screen and (max-width: 1280px) {
                width: 100%;
                padding-left: 0.5rem;
            }
            @media screen and (max-width: 960px) {
                width: auto;
                padding-left: 0;
            }
        }
        &__text {
            position: absolute;
            left: 39%;
            top: 25%;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #74798c;

            &__score {
                font-weight: 700;
                font-size: 26px;
                color: #282d30;
            }
        }
    }
}
