@import "../../utils/mixins.scss";

.charts__chart-activity {
    .tooltip {
        background-color: #e60000;
        width: 3rem;
        height: 4.5rem;
        gap: 0.5rem;
        @include flex-columns;
        align-items: center;
        justify-content: center;
        &__text {
            color: white;
            font-size: 10px;
            line-height: 24px;
            text-align: center;
            margin: 0;
        }
    }
}
