@import "../../utils/mixins.scss";

.flex-wrap {
    margin-top: 3rem;
    width: 100%;
    gap: 2rem;
    @include flex-rows;

    @media screen and (max-width: 1280px) {
        flex-direction: column;
    }
}
