.charts {
    &__chart-perf {
        background: #282d30;
        //en faire une mixin
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
        border-radius: 5px;
        width: 258px;
        height: 263px;
        padding: 0.5rem;
    }
}
