@import "../../utils/mixins.scss";

.charts {
    &__chart-perf {
        background: #282d30;
        @include smallBoxChart;
        padding: 0.5rem;

        @media screen and (max-width: 1280px) {
            width: 30%;
        }
        @media screen and (max-width: 960px) {
            width: 100%;
        }
    }
}
