.dashboard {
    display: flex;
    margin: 9.938rem auto auto;
    padding-left: 3.656rem;
    flex-direction: column;

    @media screen and (max-width: 1350px) {
        margin: 8.438rem 1rem 0 5rem;
    }
    @media screen and (max-width: 1280px) {
        margin: 7.938rem 1rem 0 5rem;
    }
}
