@import "../../utils/variables.scss";

.sidebar {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 7.688rem 1.5rem 2rem 1.5rem;
    height: 100vh;
    width: 7.313rem;
    justify-content: flex-end;

    &__copyright {
        color: white;
        font-size: 0.75rem;

        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        height: 80%;
        justify-content: center;

        &__link {
            background-color: white;
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__link:hover {
            background-color: #ff0101;
            img {
                filter: invert(100%) saturate(0%) brightness(200%);
            }
        }
    }
}
