@import "../../utils/mixins.scss";

.perfs {
    @include flex-columns;
    gap: 2rem;

    @media screen and (max-width: 1280px) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0.25rem;
    }
    @media screen and (max-width: 960px) {
        justify-content: space-evenly;
        gap: 0.25rem;
    }
}
